{% extends 'base.html' %}

{% block content %}
<div class="">

	<!-- MEDIUM+ SCREENS -->
	<div class="">
		

			<div class="wel"><span style="color: #cf7916;">We</span>lcome to <span style="color: #cf7916;">Ch</span>at!</div>
			
			<div class="link">
				<span style="color: #cf7916;">Ex</span>pand your <span style="color: #cf7916;">ho</span>rizons! <br>
				<a class="join" href="http://sdudormchat.pythonanywhere.com/public_chat/?username=anonym">Join</a>
			</div>

		{% include 'public_chat/snippets/public_chat_room.html' with room_id=room_id %}


	</div>
	<!-- END MEDIUM+ SCREENS -->
	
	<!-- SMALL SCREENS -->
	<div class="d-flex d-md-none p-2">
		{% comment %} <p>This site is not meant to be viewed on a mobile device. Please download the <a href="#">app</a>.</p> {% endcomment %}
	</div>
	<!-- END SMALL SCREENS -->
</div>


{% endblock content %}


<style>
	.wel{
		position: absolute;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		color: azure;
	}
	.link{
		position: absolute;
		text-align: center;

	}
	.join{
		text-decoration: none;
	}
</style>


